[2016-08-22 14:23] tdi opened #1 "Please provide a more complete example"
Hi

It would be nice if you provided a complete working example of using your mock with. Can it be used with jasmine?

[2016-08-22 15:54] amplicity commented on #1
Yes, it can be used with any testing development framework (mocha/jasmine/etc).

All of the bot actions being tested are in `bot/indexController.js`, and can be thrown into any project using botkit.

We're working on pushing an example app to the repo. I'll close this when that's pushed.

[2016-09-10 18:56] amplicity commented on #1
@

[2016-09-10 18:56] #1 closed

[2016-09-19 12:32] TabeaSpahn opened #4 "Error in initialUserMessage() and storage missing"
1. You messed up the initialUserMessage() method in line 146 of BotMock, so it does not work with actual regular expressions. You take a RegEx, convert it into a String and then convert it back to a RegEx. So if I use a RegEx: /someRegEx/ it is converted to /\/someRegEx\//i.
   So I solved it like this:

[code]
2. BotMock.js does not support simple_storage:
   If you want to support that just add

[2016-09-21 14:17] amplicity commented on #4
Thank you. Looking into this and making changes to BotMock master where we agree. Will close this issue when master is updated.

[2016-09-25 18:02] amplicity commented on #4
@TabeaSpahn

1:  We agree, merged here - https://github.com/amplicity/BotMock/commit/7d04e0e1120a1c24306e4ff2b56a4a37a6bb5dc5

2. Please submit a PR and we will merge

[2016-10-06 22:55] byt3smith opened #6 "NPM"
Would be nice if it was submitted to NPM so it could be properly versioned, auto-udpated as a dependency, simpler installation, etc. 😸

[2016-10-07 14:16] amplicity commented on #6
Agreed.

@byt3smith Is the easiest way to submit to npm, [here](https://docs.npmjs.com/getting-started/publishing-npm-packages)?

[2016-10-07 14:34] byt3smith commented on #6
Sure is. 💯

[2016-11-14 22:18] nsbingham commented on #4
@amplicity I'm working on tests that will involve simple_storage. I was just curious why you didn't address item #2 in @TabeaSpahn's issue. Is there another way to approach testing with storage?

[2016-11-16 14:44] amplicity commented on #4
We

[2016-11-16 15:21] nsbingham commented on #4
@amplicity thanks!

[2016-11-28 11:30] ihorrusi commented on #4
@nsbingham see https://github.com/gratifychat/BotMock/commit/2a24d012619d83ea0b52ca78c5f1d913537a35ef

[2016-11-28 11:30] #4 closed

[2016-12-01 16:25] ihorrusi commented on #6
@byt3smith  npm install --save botkit-mock

[2016-12-01 16:25] #6 closed

[2016-12-01 16:42] tansaku opened #7 "what's the mechanism to test direct_messages vs direct_mentions?"
would like to test how the bot hears the message ...

[2016-12-07 21:54] arreche opened #8 "A lot of debug messages are displayed on the console during tests"
Would it possible to silent debug messages when you use BotMock with a testing framework like mocha?

[2016-12-13 12:44] mtc2013 opened #10 "License?"
In this repo, you have no license listed, but on npm you have MIT.

https://www.npmjs.com/package/botkit-mock

Can you sort out a license for this repo, please?

[2016-12-14 18:58] #8 closed

[2016-12-14 18:59] amplicity commented on #10
Thanks for reporting. Will sort this out and close.

[2016-12-14 19:27] amplicity commented on #7
We're adding this. Will close when pushed.

[2016-12-27 11:05] ihorrusi commented on #7
@tansaku see commit `07247af`

[2016-12-27 11:07] #7 closed

[2017-01-14 12:24] alecl opened #14 "botkit 4.x support?"
I love the idea of this project. Is it going to be updated for bot.createConversation and other botkit 4.x changes?

[2017-01-14 16:19] amplicity commented on #14
Yes. We use botkit intensely in our project so it will remain updated as
botkit continues to version up. Is there any other functionality (other
than createConversation) that you would like to see?
On Sat, Jan 14, 2017 at 7:24 AM Alec Lazarescu <notifications@github.com>
wrote:

[2017-01-15 00:43] alecl commented on #14
Nice. In addition to being able to test conversation flows/state (setting variables, repeating until you give an accepted answer, etc would be good to have reactions and reminders API support - https://github.com/howdyai/botkit/blob/master/lib/Slack_web_api.js#L80

[2017-01-15 20:50] amplicity commented on #14
Thanks @alecl we'll leave this issue open until we push that functionality. Feel free to submit a PR if you happen to add this into your own fork first.

[2017-01-16 03:18] alecl opened #15 "Promise bug in sample code"
If I run it as written I get the following:

Error: Resolution method is overspecified. Specify a callback *or* return a Promise; not both.

[code]

If I remove the done and just return the promise it's fine. Also, suggest adding a catch and return rejection or you miss out on important errors

[code]

[2017-01-16 03:25] alecl commented on #15
Fixed in PR #16

[2017-01-16 03:33] alecl commented on #14
I think a great tracking goal would be to support test all the examples here: https://github.com/howdyai/botkit-starter-slack

I actually forked that to start my bot and when doing simple testing found I couldn't test a few more things there too.

The storage mock was created on the botkit class but not the controller so that is still needed.

[code]

Also the message.match came up as undefined wh

[2017-01-16 03:37] alecl commented on #14
I'm debating with myself whether to continue down this route or record the Slack incoming/outgoing messages and use that to simulate things somehow.

[2017-01-16 11:49] ihorrusi commented on #15
yeah, make sense. ty

[2017-01-16 11:49] #15 closed

[2017-01-19 15:07] amplicity commented on #14
We'll work to get these implemented. Thanks for the link.

I'm not sure what you mean by simulate, but If you're talking about hacking around something that can be covered in botkit-mock, then it's probably best to avoid and wait for a PR.

[2017-01-29 17:42] giorgosera opened #19 "replyWithTyping is not supported"
Hey everyone. Excellent work on this mock module.

I just try to use it and it seems that atm if I use [ `replyWithTyping`](https://github.com/howdyai/botkit/blob/master/readme-facebook.md#simulate-typing) it doesn't work.

Looking at the source code is not supported. Should I create a new PR or is it something you are currently working on?

[2017-01-30 16:02] ihorrusi commented on #19
see commit `b84c9448a4d18906afaad963269de2f6c6e090d4`

[2017-01-30 16:02] #19 closed

[2017-01-30 16:05] ihorrusi commented on #10
@mtc2013 sorry for the delay

[2017-01-30 18:13] amplicity commented on #10
Was improperly closed. Probably MIT. We'll close this when we push up a license and update the readme.

[2017-01-30 18:37] amplicity commented on #10
Added here: https://github.com/gratifychat/botkit-mock/commit/f64d687691fefd4954d5104391ce63ac9aa12bf4

[2017-01-30 18:37] #10 closed

[2017-01-31 10:15] giorgosera commented on #19
Excellent work @ihorrusi ! Thanks for the quick fix :)

[2017-03-21 12:32] aravindtal opened #26 "How to write test case for the conversations? also its failing as convo.on function is not available in botMock.js"
How to test conversations, I have a controller which asks the ques to user on "Who am I", if user haven't already given his name asks the user his name, Then if user provides the name then it confirms with user and then it ends the conversation. Is it possible to test conversations, any leads would be really helpful.

**Pseudo Code**
[code]

[2017-03-22 12:38] amplicity commented on #26
Hey yes, totally possible to test that conversation thread. Did you check the readme?

As for convo.on, we currently do not support that so the error you are receiving is expected. We will add convo.on functionality and close this issue as soon as we push. As of current, you won't be able to test the convo.on functionality in that thread.

[2017-03-23 05:39] aravindtal commented on #26
@amplicity I did check the readme, I couldn't find anything useful.
Actually I am using this for writing testcases of FB messenger bot, I had to go through the code to make it work for the normal test cases as it was not working until I pass the **type: message_received** in userInput, but still I am stuck for conversation.

It would be really helpful if you can give a sample test code for the abo

[2017-03-23 15:38] amplicity commented on #26
I know we are unable to test the `key` part of your code, because we do not have local storage implemented (yet).

With that said, does something like this work?
[code]

[2017-03-27 12:17] aravindtal commented on #26
Hi @amplicity, thank u and sorry for delay in reply
I have tried with the above code it worked. I have fee questions I will post them after more exploration.

[2017-03-27 12:19] aravindtal commented on #26
Closed it accidentally

[2017-03-29 05:47] amplicity commented on #26
We will close this for now. Please open up another issue with any other problems you have. We're working to add support for the additional functions you're using in your code. We will update this issue (https://github.com/gratifychat/botkit-mock/issues/14) when we're complete!

[2017-03-29 05:47] #26 closed

[2017-03-29 05:52] aravindtal commented on #26
@amplicity
[code]
Dummy function should be present in botMock.js or else it breaks with the error
..TypeError: convo.on is not a function
    at /MyDir/Automation/botkitmock_sample/controller.js:135:31
    at Bot.startConversation (/MyDir/Automation/botkitmock_sample/node_modules/botkit-mock/botkit-mock/botMock.js:159:9)
    at /MyDir/Automation/botkitmock_sample/controller.js:103:21
    at Object

[2017-03-29 07:00] amplicity commented on #26
We don't support on() yet. Our new version will. You can add this to your
own local branch to temporarily mitigate this issue.
On Wed, Mar 29, 2017 at 12:52 AM aravindtal <notifications@github.com>
wrote:

[2017-03-29 07:01] amplicity commented on #26
Thanks for letting us know
On Wed, Mar 29, 2017 at 2:00 AM James Diecidue <jamesdiecidue@gmail.com>
wrote:

[2017-04-07 14:21] amplicity commented on #14
Solved in latest version of master. Grab the latest version from npm.

[2017-04-07 14:21] #14 closed

[2017-05-06 16:01] natterstefan opened #27 "How to write a conversation test-case when bot says something first before asking"
Hi,

I am struggling to setup a test for the example skill (I found it [here](https://github.com/howdyai/botkit/blob/master/docs/readme-facebook.md#working-with-facebook-messenger)) below. Currently I am trying to get into the Conversation Testing Thing. I also checked your [convo-tests](https://github.com/gratifyguy/botkit-mock/blob/master/examples/convo-bot/indexControllerMochaSpec.js) but did n

[2017-05-08 01:14] amplicity commented on #27
Can you share the test that you tried to write?

[2017-05-08 05:33] natterstefan commented on #27
Hi @amplicity, sure.

[code]

That's what I have so far. Thanks for your time and help in advance.

[2017-05-08 08:11] natterstefan commented on #27
@ihorrusinko **Thank you very much**. Gonna test it tonight and update to `0.0.10` as well. Do you have any idea how I can test this line too?

[code]

Also out of curiosity for my future tests and skills.

[2017-05-08 08:31] ihorrusinko commented on #27
@natterstefan your test `should return `Golly, I love {input} too!!!` if user types any text after the question` works perfect. checked locally.

[2017-05-08 19:49] #27 closed

[2017-06-17 17:28] ouadie-lahdioui opened #28 "Facebook bot.identity is undefined"
Hello,

Facebook messenger doesn't support direct mention, so when i want to test some facebook conversations with this awesome botkit-mock, i got this error :

[code]
In BotmockWorker.js you try to prune off the bot's name and trim whitespaces, in my case bot.identity is undefined so bot.identity.id throw an error.

[code]

👍 👍

[2017-06-17 17:34] #28 closed

[2017-06-17 17:35] ouadie-lahdioui commented on #28
Oups ! this fixed in the latest version 👍

[2017-06-17 17:49] amplicity commented on #28
:)
On Sat, Jun 17, 2017 at 1:35 PM Ouadie Lahdioui <notifications@github.com>
wrote:

[2017-07-06 09:23] fbessez opened #29 "How might I test a Microsoft Teams / Bot Framework bot built with Botkit with botkit-mock?"
Hey all,

I am building a bot for Microsoft environments via Botkit (since they now support the Bot Framework), but I am unsure of how to test properly. Do you mind providing me a very basic example? Thanks!

[2017-07-06 09:26] ihorrusinko commented on #29
hey @fbessez would you could simple example of your code?

[2017-07-06 09:38] fbessez commented on #29
Of course, just for a basic help message that returns a Rich Card / Adaptive Card
`controller.hears('help', 'message_received', MiscUtls.help`

`MiscUtils.help = (bot, message) => {
	const reply = {
		attachments: [
		{
			contentType: "application/vnd.microsoft.card.adaptive",
			content:
				{
					type: "AdaptiveCard",
					body: [
					{
						type: 'TextBlock',
						text: 'Log Work',
						s

[2017-07-06 11:00] amplicity commented on #29
Hey, yeah we'll take a look at this. I believe we can add an extender as
seen in our readme. I'll talk it over with ihor and we'll get back to you
ASAP.
On Thu, Jul 6, 2017 at 5:39 AM fabien bessez <notifications@github.com>
wrote:

[2017-07-06 11:45] fbessez commented on #29
Sweet, thank you!

[2017-07-06 13:32] ihorrusinko commented on #29
Your main entry point `app.js`
[code]
Logic of actions (indexController.js):
[code]
tests:
[code]

[2017-07-06 13:34] fbessez commented on #29
Beautiful! I really appreciate all of the work you have put in! I will double check to see if this works upon returning to work :)

[2017-07-07 11:34] fbessez commented on #29
Great! It works wonderfully! Do you mind also mapping out for me how I'd go about testing a conversation? So if user says 'What is my name?' then bot should respond 'fbessez, right?' and then I would say 'yes' or 'no'. How do I test that out? Do I add those messages to the sequence? and then add responses?

[2017-07-07 13:43] ihorrusinko commented on #29
@fbessez checkout that example please
https://github.com/gratifyguy/botkit-mock/tree/master/examples/convo-bot

[2017-07-10 13:28] #29 closed

[2017-07-14 16:26] Naktibalda opened #30 "100ms is not enough for some responses"
I am using Watson Conversation in my bot and 100ms timeout (hardcoded [here](https://github.com/gratifyguy/botkit-mock/blob/ee7817318c1017bcded3b2c9b17d104e9ce577d1/lib/BotmockWorker.js#L96)) is not enough.
Manually editing the file to change timeout to 1000ms makes it work, but it makes all tests slower so it isn't a good solution.
Also I want to do some processing which takes multiple seconds be

[2017-07-14 16:53] ihorrusinko commented on #30
@Naktibalda have you tried that?
[code]
 you may add timeout to some messages if need

[2017-07-14 17:07] amplicity commented on #30
@ihorrusinko he's asking if there is a way to use callbacks instead of timeouts.

I agree with him that this would be more optimal than using timeouts, since timeouts are arbitrary and can affect test suite speed in a linear fashion.

[2017-07-14 17:08] amplicity commented on #30
@Naktibalda we're gonna pow-wow this locally and discuss / cycle back to this thread.

[2017-07-17 10:48] Naktibalda commented on #30
Setting timeout property in the message does not help.
The test take longer, but fails in the same way:
`AssertionError: undefined == 'I heard a test'`

[2017-07-17 11:11] ihorrusinko commented on #30
hey @Naktibalda
we need you
1. to give an example of api you want
2. to give an example of your code

look forward to your answer

[2017-07-17 11:23] Naktibalda commented on #30
I had another look at this code:
https://github.com/gratifyguy/botkit-mock/blob/ee7817318c1017bcded3b2c9b17d104e9ce577d1/lib/BotmockWorker.js#L83-L100

[code]

It appears that `message.timeout` is a pause before calling `bot.receive` method,
and then the bot only gets 100ms (hardcoded amount) to respond.

I think that the `message.timeout` should be used after `bot.receive` and `default timeout` c

[2017-07-21 13:15] amplicity commented on #30
@Naktibalda thanks for this, we're taking a look at your PR.

[2017-07-24 07:52] #30 closed

[2017-08-17 20:15] TheJimFactor opened #34 "Indentation Issue in Test Example"
In  https://github.com/gratifyguy/botkit-mock/blob/master/examples/convo-bot/indexController.js lines 2 and 3 and 33-43 should be indented one less.

[2017-09-06 22:02] ekristen opened #36 "Support replyAndUpdate"
It would be great if this mock library could also support the `replyAndUpdate` function from botkit.

Thanks for the library!

[2017-09-07 04:00] amplicity commented on #34
Briefly checked this out but was unfortunately unable to see what you're referring to. The indentations look correct to me on first glance.

If you still believe they're off, please submit a PR and we'll take a look.

[2017-09-07 04:00] #34 closed

[2017-09-07 04:02] amplicity commented on #36
@ekristen we'll add this functionality to projects (https://github.com/gratifyguy/botkit-mock/projects) and see if we can get someone to help us support `replyAndUpdate`.

Feel free to submit a PR patching `replyAndUpdate` support if you write it first!

[2017-09-07 07:59] ihorrusinko commented on #36
@ekristen already merged https://github.com/gratifyguy/botkit-mock/pull/35 + published to npm `0.1.3`

[2017-09-07 08:00] #36 closed

[2017-09-07 14:03] amplicity commented on #36
thanks ihor!

[2017-09-08 17:54] ekristen commented on #36
Thanks!

[2017-10-05 20:29] natterstefan opened #37 "Test controller.api.* (eg. Facebook's messenger_profile) functions"
Hi guys,

I have again a question. How can I test (no clue yet) features of the Facebook Bot, such as this one`controller.api.messenger_profile.get_messenger_code` (there are other `controller.api.*` features as well).

Based on the examples of you readme, I was not able to run a test like this:

[code]

This is the skill (basically the example from the botkit repo):

[code]

[2017-10-06 14:56] amplicity commented on #37
hey @natterstefan , we don't support that function (yet), but you could easily add it using `botExtender` (see *Advanced Usage* on readme).

Let me know if you're not able to figure it out, it should be added to the project so you don't need to use `botExtender`. Feel free to make a PR if you're able to patch it before us.

[2017-10-07 08:10] natterstefan commented on #37
@amplicity thanks for the hint. I tried it, see:

[code]

I still get the following error: _Uncaught TypeError: Cannot read property 'messenger_profile' of undefined_ (see the skill code above).

[2017-10-07 09:16] ihorrusinko commented on #37
hey @natterstefan  please exclude `_.clone`, you should add new functionality to `bot` entity by reference.

[2017-10-09 15:33] natterstefan commented on #37
@ihorrusinko good point. I had to disable the esLint for this line, that's why I added it. Still I am not sure if I added/used the botExtender the right way. As - for instance - the `get_messenger_code` is part of the `controller`, not the `bot` (see `controller.api.messenger_profile.get_messenger_code`).

[2017-10-11 10:15] ihorrusinko commented on #37
@natterstefan sorry, was wrong.
`botExtender(bot, botkit, config)` has few additional params.
you need to add `.api. messenger_profile.get_messenger_code ` to `botkit` instance, `botkit` it's a controller. so it should works as you expected.

[2017-10-12 06:57] natterstefan commented on #37
@ihorrusinko Aaaah, I should have seen that in your [Readme](https://github.com/gratifyguy/botkit-mock#advanced-usage) ^^. Looks like this one is working.

[2017-10-17 13:07] #37 closed

[2017-12-28 08:03] yahsan2 opened #38 "can't set afterProcessingUserMessageTimeout on each bot.usersInput."
I usually would like to set depends on the callback function of hears.

https://github.com/gratifyguy/botkit-mock/blob/40179b21a4e9be97bcddf141ea3b69c1335e2925/lib/BotmockWorker.js#L106

[2017-12-28 15:01] ihorrusinko commented on #38
hey @yahsan2
could you  show me example of usage

[2017-12-29 04:52] yahsan2 commented on #38
I use mocha and chai.

test_something.js
[code]

something.js
[code]
If the text is typed "something1", it takes 1000 ms for reply
If the text is typed "something2", it takes 2000 ms for reply

Abobe test result is that  TEST 1 is passed, and TEST 2 get the error.
Because I got the message variable is {} on TEST 2.

If I set a config like {afterProcessingUserMessageTimeout: 2000} on controller.spa

[2018-01-02 09:36] ihorrusinko commented on #38
@yahsan2 thanks for example.
have you tried next structure:
[code]
a first object just provide your message to handler, a next one with empty text will wait about `2100` msec, like a `afterProcessingUserMessageTimeout` timeout

[2018-01-26 19:38] #38 closed

[2018-05-29 04:53] pauldariye opened #39 "AssertionError"
I keep getting `undefined` for `message.text`.

<img width="1176" alt="screen shot 2018-05-29 at 00 51 06" src="https://user-images.githubusercontent.com/3650761/40638648-6bfee5f6-62da-11e8-9ae3-d53e5d1cf93d.png">

This is my code:

[code]
Did I miss anything? I'm following the [botkit-starter-slack example](https://github.com/gratifyguy/botkit-mock/tree/master/examples/botkit-starter-slack)

[2018-05-29 15:10] amplicity commented on #39
@pauldariye could you print `this.bot.detailed_answers` instead of `this` in your `console.log(this)`?

[2018-05-29 15:46] pauldariye commented on #39
hey @amplicity,

I'm getting this error:
<img width="1293" alt="screen shot 2018-05-29 at 11 45 20 am" src="https://user-images.githubusercontent.com/3650761/40669858-ea8a42f2-6335-11e8-908c-ec9b9060c6ca.png">

[2018-06-04 12:54] pauldariye commented on #39
hey @amplicity, I think the issue is that I am trying to make some api calls to enrich the data. To get the tests passing, I'll have to figure out a way to stub those.

[2018-06-04 16:36] amplicity commented on #39
Apologies for the late reply.

Let us know if this works and I'll close this issue, @pauldariye

[2018-06-04 22:50] pauldariye commented on #39
Thank you @ihorrusinko @amplicity, I'll give this a try tomorrow and let you know if it resolves the issue.

[2018-06-07 15:18] pauldariye commented on #39
hey @amplicity, just checking on this. I'm looking to add `startPrivateConversation` in the slackBotWorker module to test it that will resolve the issue I'm having.

[2018-06-08 15:20] ihorrusinko commented on #39
@pauldariye we've released version 0.1.8 with support for the function `createPrivateConversation`.

fyi here is example how to provide correct `im.open` response for this function
https://github.com/gratifyguy/botkit-mock/blob/a19fa059916e3bbca2564ff12973a5eef8c2a695/tests/extendSlackBotMochaSpec.js#L57

[2018-06-08 15:42] pauldariye commented on #39
Thank you @ihorrusinko !!! :fire:

[2018-06-08 16:16] pauldariye commented on #39
@ihorrusinko I just upgraded to v`0.1.8` and I'm getting an error when I try using `bot.createPrivateConversation` (see below). However, it works just fine with either `bot.createConversattion` or **`bot.startPrivateConversation`**.

Code snippet:
[code]

### Error message using `createPrivateConversation`
<img width="1440" alt="screenshot 2018-06-08 12 10 05" src="https://user-images.githubuserco

[2018-06-08 16:27] amplicity commented on #39
@pauldariye we're checking this out.

[2018-06-08 18:07] pauldariye commented on #39
Thank you @amplicity

[2018-06-08 18:15] ihorrusinko commented on #39
@pauldariye see version `0.1.9`

example here

https://github.com/gratifyguy/botkit-mock/blob/f8b0586118dfade61140de085231630f12f442c5/tests/extendSlackBotMochaSpec.js#L101-L145

[2018-06-08 18:19] amplicity commented on #39
@pauldariye let us know if this works and we'll close this out.

[2018-06-08 18:32] pauldariye commented on #39
it works @amplicity @ihorrusinko !!!  Thanks a lot, guys. This lib has saved me a lot of work!!! Feel free to close this issue.

I have one last question, how do I preload variables before a conversation I'm testing?

[2018-06-08 18:43] amplicity commented on #39
Hmmm, I'm not exactly sure what you mean here. Could you show me an example of what you're trying to do?

[2018-06-08 22:12] pauldariye commented on #39
Hey @amplicity, somehow didn't get to see this early.

So  have a scripts that use the `beforeThread` hooks to pass in data to enrich the conversation.

Like so:

[code]

[2018-06-11 08:18] ihorrusinko commented on #39
@pauldariye i've tested this flow, i noticed you don't invoke `next()` in `beforeThread`.

btw i think your logic doesn't not visit `beforeThread`, you need invoke `convo.gotoThread('default')` before.

[2018-06-11 11:00] pauldariye commented on #39
hey @ihorrusinko, good catch there. By default, all conversations start with the default thread. So once activated, a conversation will visit the `default` thread if one exists unless otherwise specified.

[2018-06-11 14:41] ihorrusinko commented on #39
@pauldariye i tried your example, it does not work for me, `beforeThread` is  never invoked

[2018-06-11 15:32] pauldariye commented on #39
That's really strange because I've been using it this way for some time.

Here's an example from the [botkit doc](https://github.com/howdyai/botkit/tree/v0.6.9/docs):

[code]

Does this works for you?

[2018-06-11 16:03] pauldariye commented on #39
Just confirmed @ihorrusinko and you're right. I needed to explicitly invoke `conversation.gotoThread('default')` after the `.activate()`

[2018-06-13 11:46] #39 closed

[2018-06-18 12:16] ihorrusinko commented on #30
@v1adko could you show your use case

[2018-06-18 14:41] v1adko commented on #30
@ihorrusinko I've created [an example repo](https://github.com/v1adko/botkit-mock-bug/commits/master) with a failing test and a suggested patch (might help).
I also use a small custom wrapper on the library and `usersInput` method in particular just to give me extra freedom (assertion on reactions in my case). But I doubt it affects the library behavior.

There's a long running task (2 seconds in

[2018-06-18 15:09] ihorrusinko commented on #30
@v1adko thank you for hard work with example and solution. i have a solution for you, i would name it workaround ;)
you send to bot single message (based on your repo):
[code]
in botmock way it looks like:
[code]
i want to suggest simple way (add empty message with timeout at the end of sequence, it waits 3000 ms before return result )
[code]

[2018-06-18 15:23] v1adko commented on #30
Thanks. Yeah, it does look like a workaround because it doesn't truly mimic the user behavior (or does it)? Is my patch legitimate? I checked and it doesn't break any tests. Would you welcome a PR?

Because I think ultimately it's ought to be fixed or this kind of nuance specified in the documentation... Maybe a small section on "asserting the long-running commands".

[2018-06-19 00:43] amplicity commented on #30
Hi Vlad, you can absolutely submit a PR to fix what you and Ihor are
discussing. Do you mind pushing a PR and we'll take a look asap?  Thanks

On Mon, Jun 18, 2018 at 11:23 AM Vlad Kolbaya <notifications@github.com>
wrote:

[2018-08-15 12:33] ab320012 opened #41 "bot.whisper is not a function"
i am using the your test framework to test against slack. Wondering if i can add bot.whisper to your interface as i am using it and its part of botkit now

[2018-08-16 17:44] ihorrusinko commented on #41
hey @ab320012  thanks for pull request. the library still maintained. we update features by requests.
fyi you could use [that extender](https://github.com/gratifyguy/botkit-mock#advanced-usage) to implement bot.whisper

[2018-08-16 17:57] ab320012 commented on #41
@ihorrusinko thanks Ihor, bot.whisper doesn't seem like a custom function as its part of the Slack botkit api, there are a few others like sendEphemeral which although i haven't used yet will probably error out, should i add those in a PR in the following way or just use the extender like you were saying?

[2018-08-16 18:00] ihorrusinko commented on #41
@ab320012 i've published version 0.1.11, PR - will be grate, could you provide tests with implementation, in a way like i did for `bot.whisper ` [here](912fc297a41440d937670db676ece8677017978b)

[2018-08-16 18:05] ab320012 commented on #41
@ihorrusinko ya absolutely

[2018-08-19 11:45] simonfranzen opened #43 "Does it work with SocketBot?"
No issue, just a question. Thanks!

[2018-08-19 13:28] simonfranzen opened #44 "Where is "this" coming from in the examples"
I tried to setup the botkit-mock and I am a bit confused where "this" comes from

[code]

I tried it also to just define controller and bot as variables in the test, but my testbot is still not responding.

[2018-08-19 13:37] simonfranzen commented on #44
Found out that my bot was not responding, because it sent "direct_message" and I was only listening to "message_received".

Anyway: "this" is undefined and I got it working with defining `var controller, bot;` in my spec and use these variables instead of `this.controller` and `this.bot`.

[2018-08-23 10:31] ihorrusinko commented on #43
hey @simonfranzen not, it does not.

[2018-08-23 10:35] ihorrusinko commented on #44
hey @simonfranzen, `this.controller` you could use it in pair with arrow function where you bind `this` to function. you could use `var controller, bot` it works too.

does `message_received`  work as expected?

[2018-08-23 10:37] simonfranzen commented on #43
hey @ihorrusinko, we are using the SocketBot, but it is also possible to just test specific skills/conversation-controller with botkit-mock.

So we are testing successfully our bot with botkit-mock, although the real application uses websockets.

thanks for the response

[2018-08-23 10:38] #43 closed

[2018-08-23 10:39] simonfranzen commented on #44
yes everything works as expected. Just had a few problem to start with your framework :)

[2018-08-23 10:39] #44 closed

[2018-11-29 12:56] ab320012 opened #45 "middleware interface"
do you guys support mocking middlewares? it doesn't look like it right now, if not do you want to?

[2018-11-30 06:47] ihorrusinko commented on #45
@ab320012 Could you show me an example of what you’re trying to mock?

On Thu, Nov 29, 2018 at 2:56 PM Alex Baranov <notifications@github.com>
wrote:

--
Regards,

Ihor Rusinko

[2018-11-30 16:44] ab320012 commented on #45
sure we are using the following interface to decorate the message object being passed to all controller actions
[code]

right now i am not sure tehre is a way to mimick this functionality via botmock so the attributes i need on the message are missing, hope this makes sense.

[2018-12-03 20:15] ihorrusinko commented on #45
i think you could extend SlackBot mock through `extender` or contribute simple implementation in [this file](https://github.com/gratifyguy/botkit-mock/blob/master/lib/SlackBotWorker/index.js) in the same way how botkit guys do [here](https://github.com/howdyai/botkit/blob/master/lib/SlackBot.js).
let me know what do you think.

[2019-01-18 14:45] #45 closed

[2019-06-04 12:05] lpil opened #46 "Relax deps permit use of 4.x"
Currently the package.json specifies the 0.x line, which means if the application uses 4.x then two versions of botkit are installed. It would be great to permit use of the 4.x version to avoid this duplication and to shrink the size of node_modules

[2019-06-11 13:29] roeintense opened #47 "v4 is a breaking change."
Hi guys.

Manually updating the botkit dependency to the most recent version squishes `botkit-mock` and it rejects running tests. And of course, testing my bot's skills with the old version defeats the purpose.

How can I help get this going for the new version of Botkit? You guys already working on it?

[2019-06-12 20:26] amplicity commented on #46
Unfortunately we haven't had time to upgrade botkit-mock to 4.x (yet). We don't fully support it at this time and therefore have not changed the package.json line.

If you, or anybody else, would like to help migrate support to 4.x, please submit a PR

[2019-06-12 20:27] amplicity commented on #47
Hey roeintense, at this time we don't support 4.x. We are working on an upgrade (slowly) but do not have an ETA. If you or anyone else would like to help migrate support and submit a PR, we'll gladly review.

@ihorrusinko tagging you for any update on timeline / specific tasks people could take to PR 4.x functionality.

[2019-06-17 20:45] lpil commented on #46
Thanks

[2019-06-17 20:45] #46 closed

[2019-07-01 13:47] ihorrusinko commented on #47
Hi @roeintense
[here](https://github.com/gratifyguy/botkit-mock/pull/49) is some draft work of update to botkit 4.0
we need help with an advance integration for facebook or any other providers.
we have some breaking changes you can see basic new examples how to use botmock in readme.md

[2019-08-04 21:39] Benedict commented on #47
Does that draft work play nicely with Botkit 4.5? I can't seem to get it to work. I keep getting the following error? Am I doing something wrong?

[code]

[2019-08-05 13:39] Benedict commented on #47
Turns out the package.json wasn't referencing index.js so it couldn't find any of the modules. I've created a new pull request - #50

[2019-08-06 09:21] ihorrusinko commented on #47
thanks @Benedict PR approved

[2019-08-06 14:33] amplicity commented on #47
Master has been updated to support v4.0

[2019-08-06 14:33] #47 closed

[2019-08-07 23:29] cooperka commented on #45
Hi @ihorrusinko, we have the same need to use `controller.middleware.ingest`, and it looks like both `extender` and `SlackBotWorker` you mentioned are now gone in the latest v4.0 release.

Any suggestions for best practice of mocking this behavior now? I will continue working and submit a PR if I figure it out, but help would be appreciated.

[2019-08-08 03:12] amplicity commented on #45
Which version of botkit are you using?

On Wed, Aug 7, 2019 at 7:29 PM Kevin Cooper <notifications@github.com>
wrote:

[2019-08-08 17:00] cooperka commented on #45
@amplicity I'm on botkit v4.5 with botkit-mock v4

[2019-08-09 13:30] ihorrusinko commented on #45
hey @cooperka  in botkit-mock 4.X we extended botkit core for our needs so default functionality such as `controller.middleware.ingest` should be available for you from the box.
if you have any troubles give me example what you try to do.

[2019-08-09 17:50] cooperka commented on #45
Thank you @ihorrusinko. We made a change in our architecture and no longer use the middleware at all, so this is no longer a need for me, but I'll be sure to update here if we need it again at some point and get it working.

[2019-08-09 17:57] ihorrusinko commented on #45
Okay, let us know. Do not hesitate to start a new issue.

On Fri, Aug 9, 2019 at 8:50 PM Kevin Cooper <notifications@github.com>
wrote:

[2019-08-11 10:34] yaron-idan opened #52 "Having trouble testing predefined botkit dialogs"
I'm trying to create test cases for a predefined dialog I've created with botkit.
The dialog creation code, in botkit's main file (`bot.js`) looks a bit like this -
[code]

I later use this dialog like so -
[code]

If I try testing this file with hard coded messages, the tests pass just fine.
When I try to use this predefined dialog, I'm getting the following error -
`(node:62437) UnhandledPromise

[2019-08-11 10:40] ihorrusinko commented on #52
hey @yaron-idan,
did you test that dialog online with connected slack bot?

[2019-08-11 11:08] yaron-idan commented on #52
Hey @ihorrusinko,
Yep, the dialog behaves as expected when I test it online.

[2019-08-11 11:10] ihorrusinko commented on #52
got it, if you do not mind, please provide whole example of your code so i
can test it on my side.
thanks!

On Sun, Aug 11, 2019 at 2:08 PM Yaron Idan <notifications@github.com> wrote:

[2019-08-11 11:45] yaron-idan commented on #52
Sure, I've created a gist with all of the required files, you can just paste them over the botkit boilerplate generated by yeoman.
The files starting with `create...` should be in the `features` folder and the files starting with `test...` should be in the tests folder.

[2019-08-12 10:17] ihorrusinko commented on #52
hey @yaron-idan,
i've checked you gist, thanks - great work!
i found that you include dialog as part of your config file `bot.js`, so when you try to test single file you pass `controller` as dependency without dialog itself.

take a look [here](https://github.com/gratifyguy/botkit-mock/pull/53) i've provided super simple example how to make your tests working

[2019-08-13 08:25] yaron-idan commented on #52
Whoa! This is really great. I was thinking there should probably be a way to load the controller as it's configured in `bot.js`, because my understanding of the [botkit docs](https://botkit.ai/docs/v4/conversations.html) led me to believe that's where I should be configuring my dialogs.
However, this can totally in the meantime and allow me to create test cases for the dialog I'm currently buildin

[2019-08-13 08:34] #52 closed

[2019-10-23 15:13] michaelmior opened #54 "bot.identity throws on Slack"
Seems similar to #28 for Facebook. `bot.identity` doesn't appear to be mocked so when I try to use it, I get a Slack API auth error because it's trying to use the Slack API with my dummy test credentials.

[2019-10-23 17:37] ihorrusinko commented on #54
hey @michaelmior,
i would like to see your example of code how do you use `bot.identity`.

[2019-10-23 18:04] michaelmior commented on #54
Here's a brief example.

[code]

[2019-10-25 14:45] michaelmior commented on #54
I was using botkit 0.70 and this worked. I'm now trying to upgrade to 4.5.0.

[2019-10-25 14:47] ihorrusinko commented on #54
oaky, you can check our [change log](https://github.com/gratifyguy/botkit-mock/blob/master/CHANGELOG.md) we have 0.7.4 for latest legacy botkit

[2019-10-25 14:48] ihorrusinko commented on #54
important notice!
we do not support facebook adapter for botkit (next) yet, i don't have ETA for that

[2019-10-25 14:51] ihorrusinko commented on #54
oh i checked our latest facebook mock for legacy it does not support identity.
if you can give me test repo like [this](https://github.com/gratifyguy/botkit-mock/tree/master/examples/botkit-slack) for facebook it could speed up implementation of mock

[2019-10-25 15:03] michaelmior commented on #54
I understand the legacy version works, but I'm currently trying to use botkit 4.5.0. I'm also not using Facebook, but Slack.

[2019-10-25 17:05] amplicity commented on #54
@michaelmior have you tried [this](https://github.com/gratifyguy/botkit-mock/tree/4.5) botkit-mock version?

Let us know if `bot.identity` works in that branch. If not, @ihorrusinko and I will look into adding an implementation.

[2019-10-29 19:09] amplicity commented on #54
@michaelmior following up here:

1. Could you confirm the version of botkit-mock you're using?
2. Could you confirm `bot.identity` is working in your code, but not working from the mock?

[2019-10-30 00:21] michaelmior commented on #54
Sorry for the delayed response. I tried that branch and I get the same behaviour. Unfortunately I haven't had the chance to spin up a test instance to see if it works in production with the new botkit version, but it did work with botkit version 0.7.0

[2019-11-01 19:50] amplicity commented on #54
@michaelmior Please spin it up in production and let us know if it works, whenever you get a chance. My colleague, @ihorrusinko , thinks that `bot.identity` does not work as expected in the later versions of botkit, which is why you'd get an issue testing it with botkit-mock.

If `bot.identity` does work with the later version of botkit you're using, then we will make a task to implement mocking f

[2019-11-04 22:07] roeintense opened #55 "Configurable baseUrl for use with yakbak"
Hi folks,

I'd like to be able to configure the baseUrl of the underlying Axios adapter (using axios-mock-adapter) so that it hits a local endpoint spun up to use yakbak, a VCR technology so I can stub out API requests. Is that possible? I'm looking through source and I'm not seeing anywhere without monkey patching the source. Thanks.

[2019-11-07 08:19] ihorrusinko commented on #55
Hey @roeintense,
I think you have access to axios after binding api mock
https://github.com/gratifyguy/botkit-mock/blob/5ab04f4fb23afce4306afd97889741ed173fa50e/lib/slack/ApiMock.js#L53-L57

or do you want specific interface to do this?

[2019-11-12 21:16] amplicity commented on #55
@roeintense Did this end up working for you?

[2019-12-04 15:22] roeintense opened #56 "Audit issues with Handlebars"
Hey guys,

Install is royally barfing on your handlebars dependency on 4.5. Got about 20 of these, and some DDOS warnings on the same dependency:

![image](https://user-images.githubusercontent.com/7096891/70155317-a39b3a80-1677-11ea-85cb-8b8b35a19fd7.png)

[2019-12-04 15:23] roeintense commented on #56
Nevermind, I'm a putz. It's botkit's dependency. Sorry!

[2019-12-04 15:23] #56 closed

[2020-01-27 22:49] #55 closed

[2020-02-11 01:35] roeintense opened #58 "@slack/web-api dependency causes `invalid_auth` throws on every instantiation of adapter"
Hi folks,

Botkit 4.5.

Noticed while trying to build out _integration_ tests that we kept getting a little blurb like this:

`{ Error: An API error occurred: invalid_auth
    at Object.platformErrorFromResult (.../@slack/web-api/dist/errors.js:50:33)
    at WebClient.apiCall (.../node_modules/@slack/web-api/dist/WebClient.js:407:28)
    at process._tickCallback (internal/process/next_tick.js:68:7

[2020-02-11 06:06] ihorrusinko commented on #58
Hey @roeintense , we got this error as well, we work on this
https://github.com/gratifyguy/botkit-mock/pull/57/files

that is why i suggested
https://github.com/gratifyguy/botkit-mock/pull/57/files#diff-08a4a90fec7ec7a039fb74fba5054ad2R30-R42

could you share it? probably we could include it in botkit-mock

[2020-02-13 16:29] roeintense commented on #58
@ihorrusinko sorry to keep you waiting.

All I do is, right at the top of the `beforeEach` where I instantiate my mock stuff, I use @sinonjs/sinon and call:

`sinon.stub(WebClient.prototype, "makeRequest").returns({
      data: { ok: true, error: {}, response_metadata: {} },
      headers: { "x-oauth-scopes": "whateverItDoesNotMatter" }
    });`

[2020-02-13 16:31] roeintense opened #59 "Events not registering for testing `controller.trigger()`"
What I'm doing:

Calling this.controller.loadModule against a feature that I've created in Botkit 4.5 to instantiate a controller with its details.

What's I expect:

`this.controller._events` should have registered events custom defined in a feature with `controller.on(<event_name>)`

What I get:

Not that. `controller._events` is `{}`.

maybe I'm missing something?

[2020-02-13 20:14] #54 closed

[2020-02-13 20:30] ihorrusinko commented on #59
Hey @roeintense ,
I've checked `loadModule` feature, I replaced `fileBeingTested` with it
https://github.com/gratifyguy/botkit-mock/blob/master/examples/botkit-slack/tests/slack_features_spec.js#L26-L27`

and passed `features` folder, as result`._events` was not empty.

[2020-02-13 23:26] roeintense commented on #59
I'll take a closer look a bit later on. Thanks for quick response.

On Thu, Feb 13, 2020, 2:30 PM Ihor Rusinko <notifications@github.com> wrote:

[2020-02-14 16:50] amplicity commented on #58
Thanks @roeintense we'll look into this.

@ihorrusinko  let's cycle about this locally and include it in `update-botkit-4.6.2` if it's relevant and not already included.

[2020-02-14 18:03] roeintense commented on #59
@ihorrusinko I had a chance to look at what you did, and I'm sorry I wasn't more clear. That's how I did it before. When `fileBeingTested(this.controller)` didn't worked, I tried calling LoadModule directly. I'm still not getting event declarations to populate. If you can't get it to replicate easily, it's probably an error on my side. I'll continue to investigate and resubmit if necessary.

[2020-02-14 18:03] #59 closed

[2020-02-16 16:28] ihorrusinko commented on #58
hey @roeintense
check out new version `4.6.2` here is example how to init slack-adapter so it won't trigger an error again
https://github.com/gratifyguy/botkit-mock/blob/master/examples/general-slack/updateApiResponses.spec.js#L8-L11

[2020-02-16 19:23] roeintense commented on #58
Looks straightforward to me. We're not up to 4.6.2 yet but it's on the
board. Thanks for your help.

On Sun, Feb 16, 2020, 10:28 AM Ihor Rusinko <notifications@github.com>
wrote:

[2020-02-17 19:54] #58 closed

[2020-03-19 13:04] roeintense opened #60 "Multi-step Testing?"
Hi guys,

We're trying to send multiple messages through a mock adapter. First message instantiates some controller events for interactive components, then we need to fake button pushes and assert against the way the bot responds. However, `this.controller.detailed_answers` don't populate beyond the first message sent through the controller, and we've tried it several ways. Here's how we just trie

[2020-03-20 17:03] roeintense commented on #60
Nevermind, I found it.

Botkit Core adds keys to apiLogByKey for anything that comes through on a message object that is not channel_data. So, I can assert that there is an entry in `this.controller.apiLogByKey` equal to my fake `response_url` on my message, which is close enough for me to know that it tried to respond the way I expected it to.

[2020-03-20 17:03] #60 closed

[2020-05-08 16:23] pselle opened #61 "Twilio SMS adapter?"
Hi! Please feel free to point me another direction, but I was reading through this project and interested in using it for a botkit project using Twilio, and I saw a note in the README asking about folks interested in adding support for other adapters. I'm only just reading so this issue is more a question/ 👋 . This looks like a very helpful library!

[2020-05-11 06:11] ihorrusinko commented on #61
Hi @pselle,
It could be great to have twilio mock as part of botkit-mock.
Honestly... we have not used Twilio with Botkit yet. Usually we start with some real world app on botkit for some platform like Slack (slack start kit). It means we can investigate how Botkit interacts with adapter, what methods should we mock and what should we collect to make correct asserts at the end.